body {
  cursor: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #505050;
  display: flex;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  /* color:rgb(85, 85, 85); */
}

.kite {
  background-image: url(../img/kite_2.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  opacity: 0;
}

.kitetail_letter {
  color: #f0730d;
  font: normal 13px Arial, Helvetica;
  position: absolute;
  top: -50px;
  position: absolute;
  /* mix-blend-mode:color-burn; */
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(4px);
  }

  60% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0);
  }
}

.noConnect {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #000000;
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
  }

  79% {
    color: #424242;
  }

  81% {
    color: inherit;
  }

  82% {
    color: #424242;
  }

  83% {
    color: inherit;
  }

  92% {
    color: #424242;
  }

  92.5% {
    color: inherit;
  }
}

.offline-party {
  position: absolute;
  bottom: 2vh;
  left: 10vw;
  color: #505050;
}

.offline-party p {
  padding-bottom: 15px;
}

#face {
  padding-bottom: 20px;
}

#flashlight {
  height: 20vmax;
  /*   height: 260px; */
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  /*   transition: left 0.5s ease-out, top 0.5s ease-out; */
  translate: -70% -50%;
  border-radius: 50%;
  background: #dddddd;
  transform: translate3d(0, 0, 0);
  /* for better performance */
  filter: blur(75px);
  z-index: -10;
}

#flyback {
  background: url(../img/blowaway-alt.png) no-repeat;
  position: absolute;
  bottom: 25vh;
  left: 2vw;
  width: 60px;
  height: 35px;
  cursor: url(../img/none.png), auto;
  transform: translate(-50%, -50%);
}

#flyback:hover {
  background: url(../img/exit.png) no-repeat;
  cursor: url(../img/none.png), auto;
}

.notification {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("../img/bird.gif") no-repeat fixed center;
  background-size: 100% 100%;
  color: #000000;
  z-index: 9999;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: transparent;
  color: #2ee753;
}

::-moz-selection {
  background-color: transparent;
  color: #2ee753;
}

#desktop-message {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
  color: rgb(85, 85, 85);
  margin: 0;
  text-align: center;
  font-size: 1em;
  z-index: 9999;
}

#desktop-message p {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

#desktop-message img {
  position: absolute;
  bottom: 10%;
  width: 300px;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 1024px) {
  #desktop-message {
      display: block;
  }
}