* {
    box-sizing:border-box;
}

body {
    margin:0;
    background:rgb(183, 201, 191);
    font-family:monospace;
}

ul {
    margin-top: 80px;
    margin-left: 300px;
    color: rgb(43, 255, 117);
    font-size: 15px;
    line-height: 25px;
    list-style-type: square;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

small {
    position: fixed;
    margin-left: 10px;
    top: 50%;
    color: darkred;
}