body {
    cursor: url(../img/none.png), auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgb(152, 216, 255) 100%);
    display: flex;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(85, 85, 85);
}

.kite {
    background-image: url(../img/kite_2.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    opacity: 1;
    /* mix-blend-mode:exclusion; */
}

.kitetail_letter {
    color: #f0730d;
    font: normal 13px Arial, Helvetica;
    position: absolute;
    top: -50px;
    position: absolute;
    /* mix-blend-mode:color-burn; */
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(4px);
    }

    60% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}

.button {
    cursor: url(./img/none.png), auto;
    position: absolute;
    padding: 5px 50px;
    text-align: center;
    font-size: 1em;    
    display: inline-block;
    height: 60px;
    color: #f0f0f0;    
    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%, rgb(152, 216, 255) 100%);
    border: none;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transition: opacity 2s, transform 3s;
}

.button:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* .drop {
	position: absolute;
	top: 0;	
	z-index: -1;
  opacity: 0;
}

.snow {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: #8d8d8d;
  box-shadow: 0 0 10px #FFF
}

.animate {
	animation: falling 8.5s infinite ease-in;	
}


@keyframes falling {
	0% {top: 0; opacity: 1;}
	100% {top: 1500px; opacity: 0}
} */


div#snow1, div#snow2, div#meltsnow1, div#meltsnow2 {
	overflow: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 80vH;
	width: 100vW;
	pointer-events: none;
}

@keyframes falling
{
  0% {
    top:-100px;
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100%{
    top:100%;
    display:block;
    opacity: 0;
  }
}

.fall{
	position:absolute;
	top:-10px;
	animation: falling 20s linear infinite;
	pointer-events: all;
}

.fallfall{
	position:absolute;
	top:-10px;
	animation: falling 20s linear infinite;
	pointer-events: all;
  filter: blur(5px) hue-rotate(20deg);
}

input.sinus{
	animation: sinus 20s ease-in-out infinite;
}
@keyframes sinus
{
  0%{
    transform: translateX(-100px);
  }
  50%{
    transform: translateX(100px);
  }
  100%{
	transform: translateX(-100px);
  }
}

.voices {
	position:absolute;
  top:15vh;
  left:50vw;
  transform: translate(-50%,0);
  line-height: 2em;
}


#flyback {
  background: url(../img/blowaway.png) no-repeat;
  position: absolute;
  top: 10vh;
  right: 25em;
  width: 60px;
  height: 35px;
  cursor: url(../img/none.png), auto;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

#flyback:hover {
  background: url(../img/exit.png) no-repeat;
  opacity: 0.6;
  cursor: url(../img/none.png), auto;
} 

::selection {
	background-color:transparent;
	color:#2ee753;
}
::-moz-selection {
	background-color:transparent;
	color:#2ee753;
}